* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #c8b1b1;
    background-size: cover;
    height: 100vh;
  
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
  }
/*header*/

  h1 {
    text-align: center;
    color: rgb(34, 34, 34);
    padding-top: 20px;
    font-size: 80px;
    font-family: "Raleway", sans-serif;
  }
  
  ul {
    list-style: none;
  }
  
  nav {
    height: 80px;
    background-color: #c8b1b1;
    text-align: center;
    border-radius: 4px;
  }
  .main {
    display: flex;
    justify-content: center;
  }
  .main > li {
    margin: 0 2%;
  }
  .main > li a {
    border-left: 1px solid #c8b1b1;
  }
  a {
    text-decoration: none;
    color: rgb(34, 34, 34);
    text-transform: capitalize;
    font-family: monospace;
    display: block;
    padding: 10px 15px;
    font-size: 20px;
    transition: background-color 0.5s ease-in-out;
  
    font-family: "Raleway", sans-serif;
  }
  
  a:hover {
    background-color: #000000cd;
    color: white;
  }
  
  .drop li {
    opacity: 0;
    transform-origin: top center;
  }
  
  .drop li a {
    background-color: none;
    padding: 10px 0;
  }

  .drop li a :hover {
    background-color: #000000cd;
  }

  .menu2 :hover{
    background-color: #000000cd;
  }

.main li:hover .menu2 li:first-of-type {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}

.main li:hover .menu2 li:nth-of-type(2) {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}

.main li:hover .menu2 li:nth-of-type(3) {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 0.9s;
}

.main li:hover .menu2 li:last-of-type {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 1.2s;
}

@keyframes menu2 {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*Pagina*/
.titulo {
    margin-top: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

form {
    width: 500px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: 20px 20px 50px;
    height: 550px  ;
}

h2 {
  text-align: center;
  padding-top: 15px;
}

select {
    box-sizing: border-box;
    background: none;
    padding-left: 10px ;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 80%;
    margin: 2% 0% 2% 2%;
    padding-left: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid #bebed2;
}

.boton {
    display: flex;
    padding: 6px 0px 6px 6px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

.info{
  padding-top: 10px;
  text-align: center;
}

.titulo{
  display: flex;
  justify-content: center;
}

.boton :hover{
  cursor:pointer;
}

.idioma{
  border: 0px solid black;
  font-size: 100px;
}